DEVHUB_ALIAS=apex-json-rpc-devhub
ORG_ALIAS=apex-json-rpc-scratch
TARGET_ORG=apex-json-rpc-scratch
DURATION_DAYS=7

PACKAGE_NAME=ApexJsonRpc
VERSION_NAME=v0.1
VERSION_DESC=JSON-RPC 2.0 Apex core

SKIP_FRESH_ORG=false
